# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv.bak/
*.pyc

# IDE files
.idea/
.vscode/

# Compiled files
*.pyc
*.pyo
*.pyd

# Editor-specific files
*~
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

app/database.py/

# .env file
.env/
.env